.main-sec {
  margin: 10px 10px 15px 10px;
}

// table css
table {
  width: 100%;
}

// card style
.card-style {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}


// button css
.button-active {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 1px;
  background-color:  #296d98;
  font-size: 18px;
  padding: 5px 40px;
  margin-top: 15px;
  margin-bottom: 25px;
  }

  .style-input {
    border: 2px solid blue;
    border-radius: 5px;
  }
